.panel-wrapper {
    border: 1px solid black;
    margin: 10px 0px;
}

.country-panel {
    display: flex;
    gap: 10px;
}

.application-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
    justify-content: center;
    gap: 5px;
    margin: 10px 0px;
}

.application-form {
    display: flex;
    flex-direction: column;
}

.application-form fieldset {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.application-form .rejected {
    border-color: red;
    opacity: 0.5;
}

.application-form textarea {
    resize: none;
    width: 100%;
    height: 100px;
}

.application-link-wrapper a {
    margin-left: 10px;
}

.application-form .form-rejected-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    opacity: 0.5;
}
