p {
    padding: 0;
    margin: 0;
}

button {
    width: fit-content;
    cursor: pointer;
    transition: transform 150ms ease-in-out;
    transform: scale(1);
}

button:hover {
    transform: scale(1.1);
}

button:disabled {
    cursor: not-allowed;
}
